/*Mutant Crawl Classics Zero Level Character Sheet version 3*/

body{
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}

#character_sheet{
    width: 950px;
    height: auto;
	display: block;
}

#topleft{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 475px;
	height: 615px;
}

#topright{
	position:absolute;
	top: 0px;
	left: 475px;
	width: 475px;
	height: 615px;

}

#bottomleft{
	position:absolute;
	top: 615px;
	left: 0px;
	width: 475px;
	height: 615px;
}

#bottomright{
	position:absolute;
	top: 615px;
	left: 475px;
	width: 475px;
	height: 615px;
}


/*
Character 1
*/

#name0, #name1, #name2, #name3{
    position: absolute;
    top: 52px;
    left: 30px;
}


#profession0, #profession1, #profession2, #profession3{
    position: absolute;
    top: 88px;
    left: 30px;
}


#alignment0, #alignment1, #alignment2, #alignment3{
    position: absolute;
    top: 125px;
    left: 30px;
}


#sex0, #sex1, #sex2, #sex3{
    position: absolute;
    top: 52px;
    left: 230px;
}


#languages0, #languages1, #languages2, #languages3{
    position: absolute;
    top: 560px;
    left: 60px;
    font-size: 0.8em;
    width: 140px;
}



#strength0, #strength1, #strength2, #strength3{
    position:absolute;
    top: 300px;
    left: 110px;
	font-size: 1.5em;
}

#strengthMod0, #strengthMod1, #strengthMod2, #strengthMod3{
    position:absolute;
    top: 300px;
    left: 145px;
	font-size: 1.5em;
}

#agility0, #agility1, #agility2, #agility3{
    position:absolute;
    top: 325px;
    left: 110px;
	font-size: 1.5em;
}

#agilityMod0, #agilityMod1, #agilityMod2, #agilityMod3{
    position:absolute;
    top: 325px;
    left: 145px;
	font-size: 1.5em;
}

#stamina0, #stamina1, #stamina2, #stamina3{
    position:absolute;
    top: 350px;
    left: 110px;
	font-size: 1.5em;
}

#staminaMod0, #staminaMod1, #staminaMod2, #staminaMod3{
    position:absolute;
    top: 350px;
    left: 145px;
	font-size: 1.5em;
}

#personality0, #personality1, #personality2, #personality3{
    position:absolute;
    top: 375px;
    left: 110px;
	font-size: 1.5em;
}

#personalityMod0, #personalityMod1, #personalityMod2, #personalityMod3{
    position:absolute;
    top: 375px;
    left: 145px;
	font-size: 1.5em;
}

#intelligence0, #intelligence1, #intelligence2, #intelligence3{
    position:absolute;
    top: 400px;
    left: 110px;
	font-size: 1.5em;
}

#intelligenceMod0, #intelligenceMod1, #intelligenceMod2, #intelligenceMod3{
    position:absolute;
    top: 400px;
    left: 145px;
	font-size: 1.5em;
}



#luck0, #luck1, #luck2, #luck3{
    position:absolute;
    top: 425px;
    left: 110px;
	font-size: 1.5em;
}

#luckMod0, #luckMod1, #luckMod2, #luckMod3{
    position:absolute;
    top: 425px;
    left: 145px;
	font-size: 1.5em;
}


#birthAugur0, #birthAugur1, #birthAugur2, #birthAugur3{
    position: absolute;
    top: 180px;
    left:  320px;
	width: 145px;
    font-size: 0.85em;
}

#wealth0, #wealth1, #wealth2, #wealth3{
    position: absolute;
    top: 518px;
    left:  60px;
    font-size: 0.85em;
}


#armourClass0, #armourClass1, #armourClass2, #armourClass3{
	position: absolute;
    top: 155px;
    left: 65px;
	font-size: 1.5em;
}

#hitPoints0, #hitPoints1, #hitPoints2, #hitPoints3{
	position: absolute;
    top: 230px;
    left: 98px;
	font-size: 1.5em;
}


#ref0, #ref1, #ref2, #ref3{
    position: absolute;
    top: 52px;
    left: 380px;
	font-size: 1.5em;
}

#fort0, #fort1, #fort2, #fort3{
    position: absolute;
    top: 52px;
    left: 430px;
	font-size: 1.5em;
    color: white;
}

#will0, #will1, #will2, #will3{
    position: absolute;
    top: 108px;
    left: 380px;
	font-size: 1.5em;
    color: white;
}



#actionDice0, #actionDice1, #actionDice2, #actionDice3{
    position: absolute;
    top: 540px;
    left: 98px;
	font-size: 1em;
}


#init0, #init1, #init2, #init3{
    position: absolute;
    top: 172px;
    left: 240px;
	font-size: 1.1em;
}

#melee0, #melee1, #melee2, #melee3{
    position: absolute;
    top: 205px;
    left: 222px;
	font-size: 1.1em;
}


#meleeDamage0, #meleeDamage1, #meleeDamage2, #meleeDamage3{
    position: absolute;
    top: 205px;
    left: 248px;
	font-size: 1.1em;
}

#range0, #range1, #range2, #range3{
    position: absolute;
    top: 227px;
    left: 222px;
	font-size: 1.1em;
}


#rangeDamage0, #rangeDamage1, #rangeDamage2, #rangeDamage3{
    position: absolute;
    top: 227px;
    left: 248px;
	font-size: 1.1em;
}



#speed0, #speed1, #speed2, #speed3{
    position: absolute;
    top: 108px;
    left: 425px;
	font-size: 1.5em;
}



#critTable0, #critTable1, #critTable2, #critTable3{
    position: absolute;
    top: 408px;
    left: 263px;
	font-family: serif;
	font-size: 1.5em;
}





#fumbleDie0, #fumbleDie1, #fumbleDie2, #fumbleDie3{
    position: absolute;
    top: 88px;
    left: 300px;
	font-size: 1.2em;
}



#critDie0, #critDie1, #critDie2, #critDie3{
    position: absolute;
    top: 88px;
    left: 210px;
	font-size: 1.2em;
}


#physicalDescription0, #physicalDescription1, #physicalDescription2, #physicalDescription3{
    position: absolute;
    top: 358px;
    left:  325px;
    width: 140px;
    font-size: 0.85em;
}


#weapon0, #weapon1, #weapon2, #weapon3{
    position: absolute;
    top: 290px;
    left:  210px;
	font-size: 0.8em;
}

#weaponDamage0, #weaponDamage1, #weaponDamage2, #weaponDamage3{
    position: absolute;
    top: 290px;
    left:  400px;
	font-size: 0.8em;
}


#armour0, #armour1, #armour2, #armour3{
    position: absolute;
    top: 350px;
    left:  225px;
	font-size: 0.8em;
}

#acBonus0, #acBonus1, #acBonus2, #acBonus3{
    position: absolute;
    top: 185px;
    left:  385px;
	font-size: 0.8em;
}

#armourFumble0, #armourFumble1, #armourFumble2, #armourFumble3{
    position: absolute;
    top: 185px;
    left:  432px;
	font-size: 0.8em;
}


#equipment0, #equipment1, #equipment2, #equipment3{
    position: absolute;
    top: 405px;
    left:  210px;
	font-size: 0.8em;
    width: 240px;
}



#tradeGood0, #tradeGood1, #tradeGood2, #tradeGood3{
    position: absolute;
    top: 350px;
    left:  215px;
	font-size: 0.8em;
}


#dieRollMethod0, #dieRollMethod1, #dieRollMethod2, #dieRollMethod3{
    position: absolute;
    top: 560px;
    left:  220px;
	font-size: 0.6em;
}


#notes0, #notes1, #notes2, #notes3{
    position: absolute;
    top: 460px;
    left:  220px;
	width: 210px;
	font-size: 0.8em;
}
